<!DOCTYPE html>
<html>
    <head>
        <title>My Webpage</title>
        <script src="{{ url_for('static', filename='javascript.js')}}"></script>
        <link rel="stylesheet" href="">
        <link rel="stylesheet" > 
        <meta name="viewport" content="width=device-width,initial-scale=1">
    </head>
    <body>
        
        <img src="{{url_for('static', filename='book.jpg')}}" width="5%" />
        <h2 style="color: black; font-size: 30px;">Book Search</h2> 
        <hr class="line">
        <h5 style="position: relative; left: 20px; font-size: 25px;" ><strong>User: </strong> {{ headline }}</h5>
        <form>
            <select class="custom-select" id="drop" name="dropdown" style="position:relative; left:500px; width: 7%; height:20%;">
                <option value="ISBN">ISBN</option>
                <option value="Title">Title</option>
                <option value="Author">Author</option>
           
            <div class="box">
              <input class="form-control" type="text" id="Search" placeholder="Search" aria-label="Search" name="box" style="position: relative; left: 500px; width: 20%; height:20%;">
          </div>
            <button class="button" onclick="check()" style="position: relative; left: 500px; width: 7%; height:20%; background: grey;"><strong>Submit</strong></button>
          </select>  
        </form>

<form method="post">
    <button class="logout" style="font-weight: bold; position:relative;  float:right; top:-110px" formataction="{{url_for('logout')}}">Logout</button>
</form>
<div class="panel panel-default" id="tablesection" style="display:none;">
<div id="panel heading" class="panel-heading text-center">
    showing {{length}} results for "{{search}}"
</div>
<div class="panel-body">
    <div class="my-custom-scrollbar" style="position:relative; height:540px; overflow:auot;">
        <table class="table table-hover table-bordered text-center mb-0">
            <thead style="background-color: 616161; color:white;">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">s.No</th>
                        <th scope="col">ISBN</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
        </table>
    </div>
</div>
</div>
<div class="panel-footer text-center">
</div>
</div>
<div id="secondpart" style="display:none;">
<h4 style="position:relative; left:60px; top:400px;"> Details of the book:</h4>
<div class="form-group" id="block">
</div>
<div id='hide'>
    <form>
        <h4 style="position:relative; top: 185px; left:700px;">Rate the Book</h4>
        <div id="ratingValue" class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="5 stars"> 5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="4 stars"> 4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="3 stars"> 3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="2 stars"> 2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="1 star"> 1 star</label>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="col-lg-4 col-lg-offset-4">
            <label for="example2"><h4 style="position:relative; top:110px; left:685px">Review the book</h4></label>
            <textarea type="text" rows="5" cols="50" class="form-control" id="reviewfield" name="textarea" placeholder="Please write you review"></textarea>
        </div>
        <button class="reviewSubmit" onclick="func()">Submit</button>
        <br>
    </form>
</div>
<div id="reviewedText">
  <h4 style="position: relative; top: 280px; left: 685px;">Review the book: You have already reviewed the book</h4>
</div>
<br>
<div id = "secondtable" class = "panel panel-default" style="position: relative;top: 280px;">
  <div class="panel-heading text-center">
    Books Reviews
  </div>
  <div class="panel-body">
    <div class = "my-custom-scrollbar" style="position: relative; height: 540px; overflow: auto;">
      <table class="table table-hover table-bordered text-center mb-0">
        <thead style="background-color: 616161; color: white;">
          <thead class="thead-light">
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">User</th>
              <th scope="col">Rating</th>
              <th scope="col">Review</th>
            </tr>
          </thead>
        <tbody id="reviewtbody">
        </tbody>
      </table>
    </div>
  </div>
  <div class ="panel-footer text-center">
  </div>
</div>
</div>
</body>
</html>