<!DOCTYPE html>
<html>
    <title>
        Personal Portfolio
    </title>
</html>
<html>
    <body>
        <link rel="stylesheet" href="qualigication.css">
        <h1 style="text-align: center";>My Portfolio</h1>
        <p style="font-size: large;" align="center;">
            <a href="About.html">About</a> | <a href="Qualification.html">Qualifications</a> | <a href="projects.html">Projects</a> | <a href="contact.html">Contact Me</a>
        </p>
    
    <section class="About" id="About">
        <div class="max-width">
            <h2>
                About Me</h2>
            
                <h3>Career Objective</h3>
                <p>To be part of a progressive organization which gives me scope to enhance both my personal and professional skills <br> wherein my techno- rich abilities can be 
                    utilized for enhancing the goals of the Organization.To work in an organisation<br> which provides me with ample opportunities to enhance my skills and 
                    knowledge along with contributing to the growth of the organisation</p>
                <h3>Strengths</h3>
                <p>
                    <ul>
                        <li>Enthustic</li>
                        <li>Flexibility and Adaptability.</li>
                        <li>Quick learner.</li>
                        <li>Decision making skills.</li>
                        <li>Creating a positive work environment.</li>
                      </ul>
                </p>
                <h3>Hobbies</h3>
                <p>
                    <ul>
                        <li>Artistic activities such as painting and drawing</li>
                        <li>Furniture Restoration.</li>
                        <li>Cooking new receipes.</li>
                        <li>Playing chess.</li>
                        <li>Listening Music.</li>
                      </ul>
                </p>
                <h3>Personal Information:</h3>
<p>
<ul>
    <li>
    <span id="course-name">Name:</span> Matta Jyothi</li>
    <li>
    <span id="course-name">Father's Name:</span> Hanuma Reddy </li>
    <li>
    <span id="course-name">Mother's Name:</span>Sheshamma</li>
    <li>
        <span id="course-name">Date Of Birth:</span> 22-june-1997</li>
                <li>
                <span id="course-name">Languages Known:</span>English, Hindi, Tamil, Malayalam and kannada</li>
                <li>
                    <span id="course-name">Address:</span> D.No: 2-102, Opposite postoffice, Bodduvanipalem,
                    Andhra Pradesh. PIN Code: 523212.
                    </li>
            </p>
    </section>
